.social__link-icon {
  text-decoration: none;
  background-color: black;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
}
.background{
background-color: black;
}
.fw-bold{
  color: white;
}
.fs{
  color: white;
}
.mb{
  color: white;
}

